body 	{
	background-image: url(img/Background.jpg);
	background-repeat: repeat;
	box-sizing: border-box;
}

.big 	{
	width: 972px;
	background-color: white;
	margin: 61px auto 83px;
	padding: 13px 20px 30px;
	box-sizing: border-box;
	border-radius: 4px;
	box-shadow: 0 0 1px rgba(0,0,0,0.15);
}

.big_officetime {
	text-align: top;
	font-size: 0;
	margin-bottom: 61px;
}

.big_officetime_logo	{
	width: 156px;
	margin-top: 16px;
	margin-left: 10px;
	padding: 0;
	font-size: 0;
	color: #999999;
	display: inline-block;

}

.big_officetime_logo p {
	margin-top: 10px;
	margin-bottom: 0;
	line-height: 11px;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}

div.big_officetime_menu {
	display: inline-block;
	float:right;
	position: relative;
	top: 27px;

}

 .big_officetime_logo_img	{
	display: inline-block;
}


ul 	{
	list-style: none;
	font-family: 'Oxygen', sans-serif;
	padding: 0;
	margin:0;

}

.menu_item {
	display: inline-block;
	position: relative;
	padding: 9px 12px;
	color: #666666;
}


.menu_item:nth-child(2) {
	margin-left: 29px;
}

.menu_item:nth-child(3) {
	margin-left: 24px;
}

.menu_item:nth-child(4) {
	margin-left: 22px;
}

.menu_item:nth-child(5) {
	margin-left: 24px;
	margin-right:21px;
}

.menu_item a {
	text-decoration: none;
	color: #666666;
	line-height: 14px;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.ul_big_officetime_menu li a:hover {
	color: #222222;

}

.ul_big_officetime_menu {
	font-size: 0;
	height: 32px;
}


.menu_item:hover {
	background-color:#f5f5f5;
	border-radius:4px 4px 0 0;
}

.ul_big_officetime_menu li:hover>.menu_item_sub-menu {
	display:block;
/* 	top: 32px;
	left: -2px; */
	position:absolute;
}

.div_a_big_officetime_menu {
	display:inline-block;
	height:28px;
	background-color: #ffc551;
	border-radius:4px;
	padding: 7px 9px 5px 7px;
	font-size:0;
	box-sizing: border-box;
	border: 1px solid #efaf3f;
}

.a_big_officetime_menu {
	color: #fff;
	text-decoration: none;
	line-height: 14px;
	font-size: 14px;
	margin: 0;
	padding: 0;
	text-shadow: -1px -1px 1px #eca536;
}



.menu_item_sub-menu {
	box-sizing: border-box;
	border-radius: 4px;
/* 	box-shadow: 0 0 1px rgba(0,0,0,0.15); */
	border: 1px solid rgba(224,224,224, 1);
	padding: 0 6px 10px 6px;
	display:none;
	top: 32px;
	left: -2px;
	position:absolute;
	background-color: #fff;
}

div.kubik:before {
	content: "";
	display: block;
	position: absolute;
	transform: rotate(45deg);
	width: 10px;
	height: 10px;
	background-color: #f5f5f5;
	border-bottom: 1px solid rgba(224,224,224, 1);
	border-right: 1px solid rgba(224,224,224, 1);
	z-index:2;
	font-size:0;
	top:-6px;
	left: 25px;
	
}

.ul_sub-menu {
	white-space: nowrap;

}

.li_sub-menu {
	padding: 0 4px;
	position:relative;
	display:block;
	box-sizing:border-bottom;

}

.ul_sub-menu li:first-child {
	margin-top: 11px;
}


.div_sub-menu:hover {
	border-radius:4px;
	background-color:#f3f3f3;
}

.li_sub-menu a {
	font-size:12px;
	display:block;
	letter-spacing: 0;

}

.div_sub-menu {
	padding:6px 31px 6px 6px;
	margin-top: 6px;
	margin-left: -4px;
	margin-right: -4px;
	font-size:0;
}

.line_sub-menu:after {
	content: "";
	display:block;
	border-radius:0;
	background-color:transparent;
	padding-top:6px;
	font-size:0;
	border-bottom: 1px solid #f5f5f5;
}

.span_sub-menu {
	font-size:10px;
	display:block;
}


.hero-unit {
	display:flex;
	margin-left: 57px;
	box-sizing: border-bottom;
	font-size:0;
	justify-content: space-between;
	
}

.slider {
	position:relative;
	margin:0;
	min-width: 301px;
	height:198px;
	z-index:1;
	
}
.slider::after {
	content:url("img/shadow-1.png");
	position:absolute;
	top:192px;
	left:7px;
	z-index:-1;
	
}

.slider-item {
	position: absolute;
	top:0;
	left:0;
	padding:5px;
	background: #f6f6f6;
	box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
	box-sizing: border-bottom;
	letter-spacing:0;
}
.slider-item img {
	width: 100%;
	height:100%;
}
#slide2 {
	display: none;
}
.description {
	margin-left:20px;/
	color:#515151;
	font-family: 'Oxygen', sans-serif;
	padding-right:68px;
}

.description h1 {
	font-size: 38px;
	text-align: right;
	font-weight:normal;
/* 	letter-spacing: 1px; */
	margin:22px 0 0;
	padding-right:5px;
/* 	padding-left: 61px; */
} 

.description p {
	font-size: 13px;
	text-align: right;
	line-height:1;
	margin:9px 0 0;
	padding-right:5px;
	padding-left: 61px;
	padding-bottom: 14px;
	border-bottom: 1px solid #f6f6f6;
}



.description_trailer {
	padding:0;
	float:right;
	text-decoration:none;
	border: 1px solid #efb74c;
	color: #fff;
	font-size: 13px;
	background-color: #ffbd46;
	font-family: 'Oxygen', sans-serif;
	border-radius: 4px;
	box-sizing: border-box;
	position:relative;
	margin:9px 3px 0 0;
	height:42px;
	width: 168px;
}
.discription_text {
	display:inline-block;
	padding: 7px 22px 7px 7px;
	text-shadow: 0 -1px 1px #eca536;
}

.quality {
	font-size: 7px;
	color: #d28600;
	display:block;
	text-transform: uppercase;
	text-shadow: 0 1px 1px rgba(255,255,255,0.7);
	
}

.strelka {
	float: right;
	display:inline-block;
	width:40px;
	height: 40px;
	background-image: url("img/strelka-2.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	font-size: 0;
	position: relative;
}

.strelka:before {
	content: " ";
	position: absolute;
	width: 1px;
	height: 32px;
	box-shadow: inset 0 0 1px rgba(255,255,255,0.5);
	display: inline-block;
	border-left: 1px solid #ffb239;
	top: 4px;
}

.content1 {
	margin:0;
	padding: 0;
	font-size: 0;
	margin-top: 60px;
	border-top: 1px solid #e5e5e5;
}

.content1_header {
	font-size: 18px;
	color: #222222;
	text-align: left;
	padding-left: 3px;
	margin-top: 24px;
	margin-bottom: 14px;
	font-weight: normal;
	font-family: 'Oxygen', sans-serif;
}

.content1_block {

	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
}

.content1_block_item {
	 width: 300px; 

}

.content1_block_item_view_pic {
	position: relative;
	width: 295px;
	height: 142px;
	margin: 2px;
	box-sizing: border-box;
	background-color: #000;

}

.content1_block_item_view_img {
	width: 100%;
	height: 142px;
	box-sizing: border-box;
}

.content1_block_item_view_img:hover {
	opacity: 0.75;
}

.content1_block_item_view_knop {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	justify-content: center;
	background-color: rgba(0,0,0,0.25);
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	transition: opacity .8s;
}

.content1_block_item_view_knop a {
	width: 26px;
	height: 26px;
	border-radius: 100%;
	background: linear-gradient(to bottom, #ffffff, #d9d9d9);
	position: relative;
	box-shadow:  0 0 1px 5px rgba(0,0,0,0.4);
}

.content1_block_item_view_knop a:hover {
	background: linear-gradient(to bottom, #ffffff, #ffdddd);
}

.content1_block_item_view_knop a:after {
	content: "";
	position: absolute;
	background-image: url(img/sprite-01.png);
	width: 18px;
	height: 19px;
	top:50%;
	left:50%;
	margin: -9px 0 0 -9px;

}

.content1_block_item_view_knop a.centr {
	margin: 0 16px;
	width: 46px;
	height: 46px;
	box-shadow:  0 0 1px 9px rgba(0,0,0,0.4);
}

.content1_block_item_view_knop a.centr:after {
	background-position: -36px 0;
}

.content1_block_item_view_knop a.rigth:after {
	background-position: -17px 0;
}
.content1_block_item_view_knop:hover {
	opacity: 1;
}

.content1_block_item_view {
	border-top: 1px solid #f1f1f1;
	border-left: 1px solid #f1f1f1;
	border-right: 1px solid #f1f1f1;
}

.content1_block_item_view_description {
	border-bottom: 5px solid transparent;
	background-image:
    linear-gradient(#f0f0f0,#f0f0f0),
	linear-gradient(to top right, transparent 50.5%, #f0f0f0 50.5%),
	linear-gradient(to top left, transparent 50.5%, #f0f0f0 50.5%);
	background-repeat: repeat, round, round;
	background-position: 0 0, 0 100%, 0 100%;
	background-size: auto auto, 9.5px 9.5px, 9.5px 9.5px;
	background-clip: padding-box, border-box, border-box;
	background-origin: padding-box, border-box, border-box;
}


.content1_block_item_view_header {
	font-size: 14px;
	color: #666666;
 	margin: 0 8px;
 	padding-top: 9px;
 	padding-left: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
.content1_block_item_view_text {
	font-size: 11px;
	color: #999999;
	padding-bottom: 7px;
	padding-left: 8px;
 	margin: 0 8px;
	font-family: Arial, Helvetica, sans-serif;
}


.content1_block_item_description {
	border-bottom: 5px solid transparent;
	background-image:
    linear-gradient(#f0f0f0,#f0f0f0),
	linear-gradient(to top right, transparent 50.5%, #f0f0f0 50.5%),
	linear-gradient(to top left, transparent 50.5%, #f0f0f0 50.5%);
	background-repeat: repeat, round, round;
	background-position: 0 0, 0 100%, 0 100%;
	background-size: auto auto, 9.5px 9.5px, 9.5px 9.5px;
	background-clip: padding-box, border-box, border-box;
	background-origin: padding-box, border-box, border-box;
}

.content1_block_item_text {
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 12px;
	word-break: break-all;
	padding: 0 8px;
	margin-top: 15px;
	text-align: justify;
	word-spacing: 4px;

}

.content1_tabs_header {
	font-size: 18px;
	color: #222222;
	text-align: left;
	padding-left: 1px;
	margin-top: 30px;
	margin-bottom: 20px;
	font-weight: normal;
	font-family: 'Oxygen', sans-serif; 
}

.reddd	{
	color: #c07e00;
	background-color: #ffe7b9;
}

.content1_tabs {
	position: relative;
	margin: 0 auto;
	border: 1px solid #efefef;
	border-radius: 2px;
	padding-bottom: 30px;
}

.content1_tabs label {
	cursor: pointer;
	display: block;
	float: left;
	padding: 15px 12px;
	position: relative;
/* 	top: 2px; */
	text-align: left;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	border-right: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
 	background-image: linear-gradient(to bottom, #fdfdfd, #f8f8f8);
 	height: 44px;
 	box-sizing: border-box;
}

.content1_tab_end {
	width: 100%;
	height: 44px;
	background-image: linear-gradient(to bottom, #fdfdfd, #f8f8f8);
	border-bottom: 1px solid #efefef;
	box-sizing: border-box;
}

.content1_tabs input {
	display: none;
}

#content1_tab_1:checked  ~ #tab_l1,
#content1_tab_2:checked  ~ #tab_l2,
#content1_tab_3:checked  ~ #tab_l3 {
	background: #fff;
	top: 0;
	z-index: 3;
	border-bottom: none;
	background-color: #fff;
}

.content1_tabs_cont {
	background: #fff;
	position: relative;
	z-index: 2;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
}

.content1_tabs_cont > div {
	display: none;
/* 	top: 0; */
	opacity: 0;
	-moz-transition: opacity .5s ease-in-out;
	-webkit-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}

#content1_tab_1:checked ~ .content1_tabs_cont #tab_c1,
#content1_tab_2:checked ~ .content1_tabs_cont #tab_c2,
#content1_tab_3:checked ~ .content1_tabs_cont #tab_c3 {
	display: block;
	position: static;
	left: 0;
	opacity: 1;
}

.tab_content_cont_sod {
	display: flex;
 	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;

}

.tab_content h1 {
	font-size: 14px;
	color: #333333;
	text-align: left;
	margin: 26px 20px 14px;
	padding-bottom: 7px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	border-bottom: 1px solid #e5e5e5;
}

.tab_content_cont_ul {
	margin-right: 145px;
}

.tab_content_cont_ul li {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	margin-left: 27px;
	line-height: 20px;
}

.tab_content_cont_ul li:before {
	content: url(img/strelka-3.png);
	margin-right: 11px;
}

.tab_content_cont_div {
	width: 274px;
	text-align: left;
}

.tab_content_cont_div h3 {
	line-height: 1;
	margin: 0;
	margin-left: 130px;
}

.tab_content_cont_img {
	float: left;
	border: 1px solid #f1f1f1;
	padding: 2px;
	margin-right: 8px;
	width: 122px;
	height: 99px;
	box-sizing: border-box;

}

.tab_content_cont_div img {
	width: 116px;
	height: 93px;
}

.tab_content_cont_div p {
	margin-left: 130px;
}

.footer {
	margin-top: 32px;
	font-size: 0;
	display: flex;
	position: relative;
}

.footer:before {
	content: "";
	position: absolute;
	height: 1px;
	width: 100%;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.footer_block {
	width: 466px;
	vertical-align: top;
}

.footer_block:first-child {
	display: flex;
	justify-content: space-between; 
}

.footer_menu {
	width: 180px;
	display: inline-block;
	margin-right: 41px;
	margin-left: 1px;
}

.footer_menu li {
	padding-bottom: 8px;
	padding-top:  10px;
	border-bottom: 1px solid #e5e5e5;
}

.footer_menu li a {
	margin-left: 2px;

}

.footer_menu_header {
	color: #ffad19;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	margin-top: 20px;
	margin-left: 2px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.footer a {
	text-decoration: none;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
}