h1 {
	text-align: right;
	color: orange;
}

em 	{
color: white;
	background-color: green;
}
p:first-letter {
	color: red;
	font-size: 30px;

}


.plants-list li {
	font-weight:bold;
}


#allotment h2 {
	color: orange;
}

#allotment ol {
	color: grey;
}

.vegetables-list li {
	color: red;
	font-weight:normal;
} 

.fruits-list li {
	font-weight:normal;
} 


#warehouse h2 {
	color: blue;
}

#warehouse ol {
	color: green;
}

table {
	text-align: center;
	font-weight: bold;
}
tbody td{
	background-color: green;
	color: white;
}
tbody td:nth-child(1) {
	text-align: left;
	color: orange;
	background-color: white;
}
