.bigblock {
	text-align: center;
	vertical-align: middle;
}

div.block {
	border-radius: 4px;
	border-color: #ee8129;
	border-style: solid;
	border-width: 3px;
	width: 230px;
	text-align: center;
	box-sizing: border-box;
	padding-bottom: 15px;
	display: inline-block;
	margin:0 auto;
	position: relative;
	background-color: #fff;
}

h2.NameBlock	{
	height: 60px;
	background-color: #ee8129;
	display: block;
	color: #fff;
	line-height: 60px;
	margin-top: 0;
	margin-bottom: 15px;
}

img {
	font-size: 18px;
	min-width: 50px;
	min-width: 50px;
	max-height: 100px;
	max-width: 100px;

}


p.price {
	margin: 15px 0 0 10px;
	font-size: 50px;
	font-family:'PT Sans', sans-serif;
	font-weight: bold;
}

p.price span:before {
	content: "$";
	vertical-align: text-top;
	font-size: 20px;
	font-weight: normal;
}
p.price span:after {
	content: "Mounthly";
	vertical-align: text-bottom;
	font-size: 15px;
	font-weight: normal;
}

ul {
	display: block;
	padding: 0;
	margin: 16px 12px 12px;
}
li {
	background-color: #edf5fd;
	margin: 1px 0;
	padding: 4px 0 4px 40px;
	color: #888c94;
	font-size: 12px;
	text-align: left;
	display: block;
}

li:nth-child(even) {
	background-color: #f5f5f6;
}

li:before {
	content: url(s.png);
	margin-right: 10px;
}


input {
	color: #fff;
	padding: 6px 50px;
	background-color: #ec8136;
	border-color: rgba(206,81,36, 0.4);
}

div.center {
	padding-bottom: 25px;
	z-index:2;
}

input:hover {
	background-color: rgba(206,81,36, 1);
	border-color: rgba(206,81,36, 0.8);
}

h2.center {
	height: 70px;
	line-height: 70px;
}

div.left {
	left: 10px;
	z-index:1;
	border-color: #37c2d3;
}

div.left h2 {
	background-color: #37c2d3;
}

div.left input {
	background-color: #3371a6;
}

div.right {
	left: -10px;
	z-index:1;
	border-color: #1cb79a;
}

div.right h2 {
	background-color: #1cb79a;
}

div.right input {
	background-color: #3371a6;
}

div.right input:hover {
	background-color: rgba(33,71,166, 1);
	border-color: rgba(33,71,166, 0.3);
}
div.left input:hover {
	background-color: rgba(33,71,166, 1);
	border-color: rgba(33,71,166, 0.3);
}